/* #region debug */
.debug body {
    background-color: var(--boolzap-back-secondary);
}

.debug header {
    background-color: var(--boolzap-back-primary);
    height: 100px;
}

/* .left_section{
    height: 200px;
    background-color: red;
}
.right_section{
    background-color: blueviolet;
    height: 200px;
} */
.debug .profile {
    background-color: red;
    height: 50px;
}

.debug .notification {
    background-color: var(--boolzap-notification);
    height: 100px;
}

.debug .search {
    background-color: blueviolet;
    height: 50px;
}

.debug .contacts {
    background-color: chartreuse;
    height: 500px;
}

.debug .sender {
    background-color: greenyellow;
    height: 50px;
}

.debug .chat-board {
    background-color: yellow;
    height: 600px;
}

.debug .card {
    height: 150px;
    background-color: grey;
    width: 400px;
    margin: 1rem 0;
}

.debug .writhe-text {
    background-color: var(--boolzap-light-bottom);
    height: 50px;
}

.debug .chat-sender {
    background-color: blue;
}

/* #endregion debug */

/* #region utilities */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

:root {
    --boolzap-back-primary: rgba(0, 150, 136, 1);
    --boolzap-back-secondary: rgba(215, 219, 214, 1);
    --boolzap-notification: rgba(142, 218, 252, 1);
    --boolzap-chat: rgba(213, 249, 186, 1);
    --boolzap-light-top: rgba(234, 234, 234, 1);
    --boolzap-light-bottom: rgba(243, 238, 234, 1);
    --boolzap-lighter: white;
    --boolzap-icon: rgb(184, 182, 182);
}

body {
    height: 100vh;
    background-image: linear-gradient(to bottom, rgb(0, 181, 147) 0%, rgb(0, 181, 147) 120px, lightgray 120px, lightgray 100%);
    overflow: hidden;
}

#app {
    height: 95vh;
    margin: 1rem auto 2rem;
    max-width: 1200px;
    display: flex;
}

.chat-container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.icons {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.3rem;
    color: var(--boolzap-icon);
    font-size: 20px;
}

.profile-img img {
    width: 40%;
    height: 100%;
    padding: 0.3rem;
    border-radius: 50%;
    object-fit: fill;
}

/* #endregion utilities */

.left_section {
    width: calc((100%/12)*4);
}

.right_section {
    width: calc((100%/12)*8);
}

.chat-board {
    padding: 3rem 0;
}

.chat-sender {
    align-self: flex-end;
}

/* #region profile */
.profile,
.sender {
    background-color: var(--boolzap-light-top);
    display: flex;
    height: 70px;
}

.profile-img {
    width: 50%;
}

/* #endregion profile */

/* #region notification */
.notification {
    height: 70px;
    background-color: var(--boolzap-notification);
    padding: 1rem 0;
    display: flex;
    align-items: center;
}

.notification-icon {
    width: 20%;
    text-align: center;
}

.notification-icon i {
    color: var(--boolzap-notification);
    background-color: var(--boolzap-lighter);
    padding: 0.8rem;
    border-radius: 50%;
    font-size: 20px;
}

.notification-text {
    display: flex;
    flex-direction: column;
}

.notification-text a {
    color: rgb(139, 136, 136);
}

/* #endregion notification */

/* #region search */

/* #endregion search */




/* #region query */
@media screen and (max-width: 991px) {

    header,
    .search,
    .notification {
        display: none;
    }

    .container {
        width: 100%;
        margin: auto;
    }

    .chat-container {
        width: 90%;
    }

    .left_section {
        width: 10%;
    }

    .right_section {
        width: 90%;
    }

    .debug .contacts {
        height: 90vh;
    }

    .profile,
    .sender,
    .writhe-text {
        height: 10vh;
    }

    .chat-board {
        height: 80vh;
    }
}

@media screen and (max-width:540px) {
    .left_section {
        display: none;
    }

    .right_section {
        width: 100%;
    }

    .debug .sender {
        height: 7vh;
    }

    .debug .chat-board {
        height: 86vh;
    }

    .debug .writhe-text {
        height: 7vh;
    }
}

/* #endregion query */